{% extends "base.html" %}
{% load humanize %}

{% block title %} Detalles {% endblock title %}

{% block nav %}
    {% include "hotel/includes/hotel_nav.html" %}
{% endblock nav %}

{% block content %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">N° {{ room.number }} {{ room.type }}</h1>
              <span class="color-text-a">{{ room.hotel.name }} {{ room.hotel.second_name }}</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'hotel:index' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'hotel:rooms' %}">Habitaciones</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  N° {{ room.number }} {{ room.type }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div id="property-single-carousel" class="swiper">
              <div class="swiper-wrapper">
                <div class="carousel-item-b swiper-slide">
                  <img src="{{ room.img.url }}" alt="Room img">
                </div>
              </div>
            </div>
            <div class="property-single-carousel-pagination carousel-pagination"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-cash">₲</span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h5 class="title-c">{{ room.price|intcomma  }}</h5>
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d">Detalles</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>Habitación N°:</strong>
                        <span>{{ room.number }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Hotel:</strong>
                        <span>{{ room.hotel.name }} {{ room.hotel.second_name }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Tipo:</strong>
                        <span>{{ room.type }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Estado: </strong>
                        <span>Sale</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Capacidad:</strong>
                        <span>{{ room.capacity }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Descripción</h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    {{ room.description }}
                  </p>
                </div>
                <div class="row section-t3">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Comodidades</h3>
                    </div>
                  </div>
                </div>
                <div class="amenities-list color-text-a">
                  <ul class="list-a no-margin">
                      {% for amenity in room.amenities.all %}
                        <li>{{ amenity.name }}</li>
                      {% endfor %}
                  </ul>
                </div>
              </div>

              <!-- Sección para reservar: fecha llegada y salida -->
              <div class="col-md-12 col-lg-12 section-md-t3">
                <div class="row">
                  <div class="row section-t3">
                    <div class="col-sm-12">
                      <div class="title-box-d">
                        <h3 class="title-d">Reservar</h3>
                      </div>
                    </div>
                  </div>
                  <div class="property-description">
                    <form action="{% url 'hotel:room_reservation' room_id=room.id user_id=user.id %}" method="post">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-md-4 mb-3">
                          <label for="checkin">Fecha de llegada</label>
                          <input type="date" class="form-control" id="checkin" name="check_in_date" required>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label for="checkout">Fecha de salida</label>
                          <input type="date" class="form-control" id="checkout" name="check_out_date" required>
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-end">
                          <button type="submit" class="btn btn-success">Reservar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section><!-- End Property Single-->

  </main><!-- End #main -->
{% endblock %}

{% block footer %}
    {% include "hotel/includes/hotel_footer.html" %}
{% endblock footer %}