{% extends "base.html" %}

{% block title %} Lista de Habitaciones {% endblock title %}

{% block nav %}
    {% include "hotel/includes/hotel_nav.html" %}
{% endblock nav %}

{% block content %}

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Nuestras Habitaciones</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'hotel:index' %}">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Lista de Habitaciones
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid-option">
                        <form>
                            <select class="custom-select">
                                <option selected>Todos</option>
                                <option value="1">Individual</option>
                                <option value="2">Doble</option>
                                <option value="3">Suite</option>
                            </select>
                        </form>
                    </div>
                </div>
                {% for room in all_rooms %}
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="{{ room.img.url }}" alt="{{ room.description }}" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">{{ room.number }} {{ room.type }}
                                                <br /> {{ room.hotel.name }} {{ room.hotel.second_name }}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">Precio | ₲ {{ room.price  }}</span>
                                        </div>
                                        <a href="{% url 'hotel:rooms_details' room_id=room.id %}" class="link-a">Ver detalles...
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">N°</h4>
                                                <span>{{ room.number }}</span>
                                            </li>
                                            <li>
                                                 <h4 class="card-info-title">Precio</h4>
                                                 <span>{{ room.price }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Tipo</h4>
                                                <span>{{ room.type }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Cap.</h4>
                                                <span>{{ room.capacity }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">
                                    <span class="bi bi-chevron-left"></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item next">
                                <a class="page-link" href="#">
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Property Grid Single-->

{% endblock %}

{% block footer %}
    {% include "hotel/includes/hotel_footer.html" %}
{% endblock footer %}