{% extends "base.html" %}

{% block title %} Lista de Reservas {% endblock title %}

{% block nav %}
    {% include "hotel/includes/hotel_nav.html" %}
{% endblock nav %}

{% block content %}

<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{ profile.first_name }} {{ profile.last_name }}</h1>
                        <span class="color-text-a">Reservas</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'hotel:index' %}">Inicio</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Mis Reservas</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ profile.first_name }} {{ profile.last_name }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single -->

    <pre>{{ bookings }}</pre>


</main>
{% endblock content %}


{% block footer %}
    {% include "hotel/includes/hotel_footer.html" %}
{% endblock footer %}