
<section class="section-services section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Buscar</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card shadow p-4">
                            <form action="{% url 'hotel:search' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                                        <label for="checkin_date" class="font-weight-bold text-black">Fecha Inicio</label>
                                        <div class="field-icon-wrap">
                                            <div class="icon"><span class="icon-calendar"></span></div>
                                            <input type="datetime-local" id="checkin_date" name="check_in_date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                                        <label for="checkout_date" class="font-weight-bold text-black">Fecha Salida</label>
                                        <div class="field-icon-wrap">
                                            <div class="icon"><span class="icon-calendar"></span></div>
                                            <input type="datetime-local" id="checkout_date" name="check_out_date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                                        <div class="row">
                                            <div class="col-md-6 mb-3 mb-md-0">
                                                <label for="adults" class="font-weight-bold text-black">Capacidad</label>
                                                <div class="field-icon-wrap">
                                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                    <select name="capacity" id="adults" class="form-control">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3 mb-md-0">
                                                <label for="children" class="font-weight-bold text-black">Tipo</label>
                                                <div class="field-icon-wrap">
                                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                    <select name="type" id="children" class="form-control">
                                                        <option value="1">Individual</option>
                                                        <option value="2">Doble</option>
                                                        <option value="3">Suite</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 align-self-end">
                                        <button type="submit" class="btn btn-primary btn-block text-white ri">Buscar Disponibles</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
        </section>